<<<<<<< HEAD
<h3>About Us</h3>
<p>This is a pinterest-like clone meant to showcase the basic functionality of the service.</p>
=======
<h1>About Us</h1>
<p>This is a simple rails application that showcases the basic functionality of an image uploading website.</p>
>>>>>>> d7ecc4ad64ae2cd3a60923b91d1b7e40c2a7d9ff
