<h2>Welcome to my app!</h2>
<p>Sign Up <%= link_to "here", "#" %>.</p>
<<<<<<< HEAD


<!-- <h1>Pages#home</h1>
#<p>Find me in app/views/pages/home.html.erb</p> -->
=======
</br>
</br>
<p>(please ignore this: this is for my learning purposes)</p>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
>>>>>>> d7ecc4ad64ae2cd3a60923b91d1b7e40c2a7d9ff
